.profile {
  background-image: url('https://c.wallhere.com/photos/d4/a2/car_Khyzyl_Saleem_Mazda_RX_7_simple_background_white_Japan_JDM_render-85857.jpg!d');
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
}